// Color Variables //

$blue: rgba(0, 119, 173, 1.0);
$green: rgba(90, 150, 100, 1.0);
$light-green: rgba(170, 180, 100, 1.0);
$grey: rgba(160, 150, 137, 1.0);
$orange: (255, 148, 10, 1.0);


// Color Variables from Flat-UI kit //

// Greens //
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerland: #2ECC71;
$nephritis: #27AE60;
// Blues //
$peterriver: #3498DB;
$belizehole: #2980B9;
// Purple //
$amethyst: #9B59B6;
$wisteria: #8E44AD;
// Greys //
$wetasphalt: #34495E;
$midnightblue: #2C3E50;
$concrete:#95A5A6;
$asbestos:#7F8C8D;
$clouds:#ECF0F1;
$silver:#BDC3C7;
// Reds //
$alizarin:#E74C3C;
$pomegranate:#C0392B;
// Oranges //
$orange:#F39C12;
$carrot:#2ECC71;
$pumkin:#D35400;
// Yellows //
$sunflower:#1ABC9C;
