#container {
  width: 98%;
  margin: 0 1%;
}

nav {
  min-height: 50px;
  overflow: hidden;
  article {
    float: left;
    padding: 10px;
  }
  .search {
    width: 25%;
  }
  .logo {
    width: 50%;
  }
  .your-account {
    width: 25%;
  }
}