.form-holder {
  width: 60%;
  margin: 5% 20%;
  header {
    text-align: center;
  }
  input {
    width: 60%;
    margin: 5px 20%;
    float: left;
    text-align: center;
  }
  button {
    margin: 5px 30%;
    float: left;
    width: 40%;
  }
}

#item_description {
  height: 80px;
}