
#container {
  .item {
    width: 220px;
    float: left;
    margin: 10px;
    height: 300px; // this could be judged by JS //
    background: url(../images/fake.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px black;

    header {
      position: absolute;
      width: 100%;
      padding: 10px;
      height: 120px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.5);
      .price {
        text-align: center;
        font-size: 20px;
        color: blue;
      }
    }
    dt {
        p {
          width: 30%;
          margin: 0 1%;
          float: left;
          padding: 1px;
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 6px;
          text-align: center;
        }
      }

    }


  /* temp */
    outline: 1px dashed red;
}