nav {
  background-color: $silver;
  color: $clouds;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
  }
}

.logo {
  img {
    width: 50%;
    margin: 0 25%;
  }
}

.search {
  input {
    background: url(../images/search-2x.png) no-repeat center right;
    padding: 30px 15px;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    color: $clouds;
    width: 70%;
    margin: 0 15%;
  }
}

.search-logo {
      width: 80%;
      margin: 0 5%;
    }