nav {
  background-color: $clouds;
  color: $concrete;
}

.logo {
  img {
    width: 50%;
    margin: 0 25%;
  }
}

.search {
  input {
    background: url(../images/search-2x.png) no-repeat center right;
  }
}