nav {
  background-color: $silver;
  color: $clouds;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
  }
}

.logo {
  img {
    width: 50%;
    margin: 0 25%;
  }
}

.search {
  input {
    background: url(../images/search.png) no-repeat center right;
    padding: 15px;
    margin: 0;
    color: $clouds;
  }
}