<html>
  <head>

    <!-- Including our Stylesheets -->
  	<link rel="stylesheet" type="text/css" href='/css/main.css'>
    <link rel="stylesheet" type="text/css" href='/css/flat-ui.css'>

    <!-- Including JQuery Underscore and Backbone -->
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/handlebars.js"></script>
    <script type="text/javascript" src="/js/jquery.masonry.min.js"></script>

    <script src="/js/jquery.vintage.js"></script>


  </head>
  <body>
    <nav>
      <article class="search">
        <span class="search-logo">
        <input type="text" placeholder="search">
      </article>
      <article class="logo">
        <img src="images/logo.jpg" class="logo" alt="hawkerboard">
      </article>
      <article class="your-account">
        <menu>Your Account</menu>
      </article>
    </nav>

    <section id="container"></section>


    <script id="item-template" type="text/x-handlebars-template">
      <article class="item" id="{{cid}}">
        <header>
          <img src="{{image}}">
        </header>
        <section>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="price">£{{price}}</p>
          <dt>
            {{#each tags}}
            <p>{{this}}</p>
            {{/each}}
          </dt>
        </section>
      </article>
    </script>

    <script type="text/javascript" src="/js/model.js"></script>
    <script type="text/javascript" src="/js/view.js"></script>
    <script type="text/javascript" src="/js/router.js"></script>

    <script type="text/javascript">
      $(function(){
        new Hawkerboard();
        Backbone.history.start({pushState: true});
      });
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('img').load(function(){
            $("#container").masonry();
        });
        $("#container").masonry();
    });
    //note this is from stackoverflow solution not Masonary.js website recommendations //
    </script>

 </body>
</html>

