<html>
  <head>

    <!-- Including our Stylesheets -->
  	<link rel="stylesheet" type="text/css" href='/css/main.css'>

    <!-- Including JQuery Underscore and Backbone -->
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>


  </head>
  <body>
    <header>
      <article>
        <input type="text" placeholder="search">
      </article>
      <article>
        <img src="" class="logo">Hawkerboard</img>
      </article>
      <article>
        <menu>User Account Menu</menu>
      </article>
    </header>
    <section id="container"></section>

    /* Template should sit in a new file...?*/
    <script id="item-template" type="text/x-handlebars-template">
      <article class="item" id="">
        <header>
          <h1>Brown Shoes</h1>
          <p>Churchs premium 'Harold' brogue for the modern man</p>
          <p class="price">£55</p>
          <dt>
            <p>brown</p>
            <p>mens</p>
            <p>brogue</p>
          </dt>
        </header>
      </article>
    </script>
 </body>
</html>

<script>

// models.js //
var products = new Products([{"name": "Brown Shoes", "description": "Churchs premium 'Harold' brogue for the modern man", "price": "55.00", "tags": ["brown", "mens", "brouge"]}]);

// view.js //
var view = new ProductsView({el: '#container', collection: products});
view.render();

</script>