<html>
  <head>

    <!-- Including our Stylesheets -->
    <link rel="stylesheet" type="text/css" href='/css/bootstrap-responsive.css'>
    <link rel="stylesheet" type="text/css" href='/css/bootstrap.css'>
    <link rel="stylesheet" type="text/css" href='/css/flat-ui.css'>
    <link rel="stylesheet" type="text/css" href='/css/main.css'>

    <!--link rel="stylesheet" type="text/css" href="/css/demo.css" /-->
    <link rel="stylesheet" type="text/css" href="/css/slicebox.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <!-- Including JQuery Underscore and Backbone -->
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/handlebars.js"></script>
    <!--script type="text/javascript" src="/js/jquery.masonry.min.js"></script-->

    <script type="text/javascript" src="/js/modernizr.custom.46884.js"></script>
    <script type="text/javascript" src="/js/jquery.vintage.js"></script>
    <script type="text/javascript" src="/js/jquery.slicebox.js"></script>


  </head>
  <body>
    <nav>
      <article class="search">
        <span class="search-logo">
        <input type="text" placeholder="search">
      </article>
      <article class="logo">
        <h1>hawkerboard.co.uk</h1>
      </article>
      <article class="your-account">
        <span id="sign-up-button" class="btn btn-info">Sign Up</span>
        <span id="add-item-button" class="btn">Sell your item</span>
      </article>
    </nav>

    <section id="container"></section>


    <script id="item-template" type="text/x-handlebars-template">
      <article class="item" id="{{cid}}">
        <header>
          <img src="{{image}}">
        </header>
        <section>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="price">£{{price}}</p>
          <dt>
            {{#each tags}}
            <p>{{this}}</p>
            {{/each}}
          </dt>
        </section>
      </article>
    </script>

    <script id="product-template" type="text/x-handlebars-template">
    <article class="item" id="{{cid}}">
        <header>
          <img src="{{image}}">
        </header>
        <section>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="price">£{{price}}</p>
          <dt>
            {{#each tags}}
            <p>{{this}}</p>
            {{/each}}
          </dt>
        </section>
        <footer>
        </footer>
      </article>
    </script>

    <!-- COMMENTED OUT FOR NOW
    <script id="product-template" type="text/x-handlebars-template">
      <article class="item" id="{{cid}}">
      <div class="slider-holder">
          <section id="itemDetail">
            <ul id="sb-slider" class="sb-slider">
              <li><a href="" target="_blank"><img src="/images/fake.jpg" alt="image1"/></a></li>
              <li><a href="" target="_blank"><img src="/images/fake2.jpg" alt="image2"/></a></li>
              <li><a href="" target="_blank"><img src="/images/fake3.jpg" alt="image3"/></a></li>
              <li><a href="" target="_blank"><img src="/images/fake4.jpg" alt="image4"/></a></li>
              <li><a href="" target="_blank"><img src="/images/fake5.jpg" alt="image5"/></a></li>
            </ul>
          </section>
        </div>
        <header>
          <img src="{{image}}">
        </header>
        <section>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="price">£{{price}}</p>
          <dt>
            {{#each tags}}
            <p>{{this}}</p>
            {{/each}}
          </dt>
        </section>
        <footer>
        </footer>
      </article>
    </script -->

    <script id="add-item-form-template" type="text/x-handlebars-template">
    <article class="form-holder">
    <header>
      <h1>Add an item to start hawking</h1>
    </header>
    <form>
      <input name="item_name" placeholder="name of the item">
      <input name="item_price" placeholder="give it a price">
      <input name="item_description" placeholder="describe it">
      <input name="item_tags"placeholder="add some tags">
      <input name="username" placeholder="your name">
      <button class="btn">Submit for Sale</button>
    </form>
  </article>
    </script>

    <script type="text/javascript" src="/js/model.js"></script>
    <script type="text/javascript" src="/js/view.js"></script>
    <script type="text/javascript" src="/js/router.js"></script>

    <script type="text/javascript">
      $(function(){
        window.hawkerboard = new Hawkerboard();
        Backbone.history.start();
      });
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('img').load(function(){
            $("#container").masonry();
        });
        $("#container").masonry();
    });
    //note this is from stackoverflow solution not Masonary.js website recommendations //
    </script>


    <script type="text/javascript" src="/js/jquery.slicebox.js"></script>

    <script type="text/javascript">
      $(function() {
        var Page = (function() {
          var $navArrows = $( '#nav-arrows' ).hide(),
            $navDots = $( '#nav-dots' ).hide(),
            $nav = $navDots.children( 'span' ),
            $shadow = $( '#shadow' ).hide(),
            slicebox = $( '#sb-slider' ).slicebox( {
              onReady : function() {
                $navArrows.show();
                $navDots.show();
                $shadow.show();
              },
              onBeforeChange : function( pos ) {
                $nav.removeClass( 'nav-dot-current' );
                $nav.eq( pos ).addClass( 'nav-dot-current' );
              }
            } ),
            init = function() {
              initEvents();
            },
            initEvents = function() {
              // add navigation events
              $navArrows.children( ':first' ).on( 'click', function() {
                slicebox.next();
                return false;
              } );
              $navArrows.children( ':last' ).on( 'click', function() {
                slicebox.previous();
                return false;
              } );
              $nav.each( function( i ) {
                $( this ).on( 'click', function( event ) {
                  var $dot = $( this );
                  if( !slicebox.isActive() ) {
                    $nav.removeClass( 'nav-dot-current' );
                    $dot.addClass( 'nav-dot-current' );
                  }
                  slicebox.jump( i + 1 );
                  return false;
                } );
              } );
            };
            return { init : init };
        })();
        Page.init();
      });
    </script>

 </body>
</html>

