<html>
  <head>

    <!-- Including our Stylesheets -->
    <link rel="stylesheet" type="text/css" href='/css/bootstrap-responsive.css'>
    <link rel="stylesheet" type="text/css" href='/css/bootstrap.css'>
    <link rel="stylesheet" type="text/css" href='/css/flat-ui.css'>
    <link rel="stylesheet" type="text/css" href='/css/main.css'>

    <!--link rel="stylesheet" type="text/css" href="/css/demo.css" /-->
    <link rel="stylesheet" type="text/css" href="/css/slicebox.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <!-- Including JQuery Underscore and Backbone -->
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/handlebars.js"></script>
    <!--script type="text/javascript" src="/js/jquery.masonry.min.js"></script-->

    <script type="text/javascript" src="/js/modernizr.custom.46884.js"></script>
    <script type="text/javascript" src="/js/jquery.vintage.js"></script>
    <script type="text/javascript" src="/js/jquery.slicebox.js"></script>


  </head>
  <body>
    <nav>
      <article class="search">
        <span class="search-logo">
        <input type="text" id="searchbox" placeholder="search" name="searchbox">
      </article>
      <article class="logo">
        <h1>hawkerboard.co.uk</h1>
      </article>
      <article class="your-account">
        <span id="sign-up-button" class="btn btn-info">Sign Up</span>
        <span id="add-item-button" class="btn">Sell your item</span>
      </article>
    </nav>

    <section id="container"></section>


    <script id="item-template" type="text/x-handlebars-template">
      <article class="item" id="{{cid}}">
        <header>
          <!--img src="{{image}}"-->
          <img src="images/fake.jpg">
        </header>
        <section>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="price">£{{price}}</p>
          <dt>
            {{#each tags}}
            <p>{{this}}</p>
            {{/each}}
          </dt>
        </section>
      </article>
    </script>

    <script id="product-template" type="text/x-handlebars-template">
    <article class="item" id="{{cid}}">
        <header>
          <!--img src="{{image}}"-->
          <img src="images/fake.jpg">
        </header>
        <section>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="price">£{{price}}</p>
          <dt>
            {{#each tags}}
            <p>{{this}}</p>
            {{/each}}
          </dt>
        </section>
        <footer>
        </footer>
      </article>
    </script>

    <script id="add-item-form-template" type="text/x-handlebars-template">
    <article class="form-holder">
    <header>
      <h1>Add an item to start hawking</h1>
    </header>
      <input id="item_name" name="item_name" placeholder="name of the item">
      <input id="item_price" name="item_price" placeholder="give it a price">
      <input id="item_description" name="item_description" placeholder="describe it">
      <input id="item_tags" name="item_tags" placeholder="add some tags">
      <input name="username" placeholder="your name">
      <button id="add-item" class="btn">Submit for Sale</button>
  </article>
    </script>

    <script type="text/javascript" src="/js/model.js"></script>
    <script type="text/javascript" src="/js/view.js"></script>
    <script type="text/javascript" src="/js/router.js"></script>

    <script type="text/javascript">
      $(function(){
        window.hawkerboard = new Hawkerboard();
        Backbone.history.start();
      });
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('img').load(function(){
            $("#container").masonry();
        });
        $("#container").masonry();
    });
    //note this is from stackoverflow solution not Masonary.js website recommendations //
    </script>

 </body>
</html>

