<html>
  <head>

    <!-- Including our Stylesheets -->
  	<link rel="stylesheet" type="text/css" href='/css/main.css'>

    <!-- Including JQuery Underscore and Backbone -->
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>


  </head>
  <body>

    <p>Hello World</p>
    <section class="main"></section>
    <script type="text/handlebars-template" id='products_template'>
    </script>

    
 </body>
</html>
