* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #a09689; }

h1, h2, h3, h4, p {
  margin: 0; }

menu {
  margin: 0; }

img {
  width: 100%; }

#container {
  width: 98%;
  margin: 0 1%; }

nav {
  min-height: 50px;
  overflow: hidden; }
  nav article {
    width: 33.33333%;
    float: left;
    padding: 10px; }

nav {
  background-color: white;
  color: #0077ad; }

.logo img {
  width: 50%;
  margin: 0 25%; }

#container {
  /* temp */
  overflow: hidden; }
  #container .item {
    position: relative;
    width: 220px;
    float: left;
    margin: 10px;
    background-size: cover;
    box-shadow: 0px 0px 10px white; }
    #container .item section {
      position: absolute;
      width: 100%;
      padding: 10px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.5); }
      #container .item section .price {
        text-align: center;
        font-size: 20px;
        color: blue; }
    #container .item dt p {
      width: 30%;
      margin: 0 1%;
      float: left;
      padding: 1px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      text-align: center; }
