* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #ecf0f1; }

h1, h2, h3, h4, p {
  margin: 0; }

menu {
  margin: 0; }

img {
  width: 100%; }

#container {
  width: 98%;
  margin: 0 1%; }

nav {
  min-height: 50px;
  overflow: hidden; }
  nav article {
    float: left;
    padding: 10px; }
  nav .search {
    width: 25%; }
  nav .logo {
    width: 50%; }
  nav .your-account {
    width: 25%; }

nav {
  background-color: #bdc3c7;
  color: #ecf0f1; }
  nav h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px; }

.logo img {
  width: 50%;
  margin: 0 25%; }

.search input {
  background: url(../images/search.png) no-repeat center right;
  padding: 15px;
  margin: 0;
  color: #ecf0f1; }

#container {
  /* temp */
  overflow: hidden; }
  #container .item {
    position: relative;
    width: 220px;
    float: left;
    margin: 5px;
    background-size: cover;
    border: 10px solid white; }
    #container .item section {
      position: absolute;
      width: 100%;
      padding: 10px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.5); }
      #container .item section .price {
        text-align: center;
        font-size: 20px;
        color: blue; }
    #container .item dt p {
      width: 30%;
      margin: 0 1%;
      float: left;
      padding: 1px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      text-align: center; }

.form-holder {
  width: 60%;
  margin: 5% 20%; }
  .form-holder header {
    text-align: center; }
  .form-holder input {
    width: 60%;
    margin: 5px 20%;
    float: left;
    text-align: center; }
  .form-holder button {
    margin: 5px 30%;
    float: left;
    width: 40%; }

.slider-holder {
  outline: 1px solid #2ecc71;
  width: 500px;
  height: 500px;
  top: 100;
  left: 100; }
